VBox HBox Label{
    -fx-min-width:100px;
    -fx-max-width:100px;
    -fx-letter-spacing:10px;
}

VBox HBox TextField, VBox HBox TextArea{
    -fx-min-width:300px;
    -fx-max-width:300px;
}

VBox HBox ComboBox{
    -fx-min-width:255px;
    -fx-max-width:255px;
}

VBox HBox Button{
    -fx-min-width:40px;
    -fx-max-width:40px;
    -fx-font-weight:bold;
}

.nutchucnang Button{
    -fx-min-width:97px;
    -fx-max-width:97px;
    -fx-min-height:40px;
    -fx-max-height:40px;
    -fx-font-weight:bold;
}

.nutchucnang{
    -fx-padding:20px 0px 5px 0px;
}

VBox{
    -fx-padding: 10px 10px;
    -fx-border:0px 1px 1px 1px;
    -fx-border-color: lightgray;
}

.tieude{
    -fx-text-transform: capitalize;
    -fx-font-weight:bold;
    -fx-font-size:16px;
    -fx-alignment:center;
    -fx-max-width:420px;
    -fx-min-width:420px;
}

ImageView{
    -fx-image:url("../medias/placeholder.png");
    -fx-cursor: hand;
}